{{!--
/**
 * @template default%abstract%view
 * @language handlebars
 * @block view
 * @description Deprecated
 * @todo But actually still loaded
 */
--}}
<h2>Default template</h2>
{{greeting}}
{{#collection}}
WOW, {{name}}
{{/collection}}