{{!--
/**
 * @template default%abstract%view%test
 * @language handlebars
 * @block view
 * @ignore
 * @description Deprecated
 */
--}}
<h2>Default TEST template</h2>
{{greeting}}
{{#collection}}
WOW, {{name}}
{{/collection}}